.filter-dropdown {
    position: absolute;
    background-color: #212529;
    width: 200px;
    overflow: hidden;
    z-index: 86;
    left: -130px;
    top: 35px;
    color: white;
    transition: height 0.3s ease;
    text-align: center;
    height: 0px;

}
.main-bg-color{
    background-color: #BB4D50; 
}
 
.cutom-limit-height{
    height: 280px; 
    width: 230px;   
    margin: auto;
    margin-top: 30px;
}
.cutom-limit-height img{
    width: 100% !important;
    height: 100%;
    border-radius: 21px !important;
    object-fit: cover; 
}
.custom-padding-icon-heart{
    padding: 7px !important;
}

.filter-dropdown.open {
    height: 250px;
}

.main-font-weight {
    font-weight: 900;
}

.text-color-cetegory {
    color: black;
}

.product-btn-price {
    height: 40px;
}

.product-add-cart {
    left: 100%;
    transition: .3s;
}

.product-price {
    left: 0%;
    transition: .3s;
    height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-wrapper { 
    position: absolute;
    height: 27px;
    text-align: center;
    width: 100%;   
    z-index: 8;
}

.item-product-menu{
    z-index: -7;
}
.product-item:hover .product-add-cart {
    left: 0%;
}

.product-item:hover .product-price {
    left: -100%;
}

.product-item:hover .product-wrapper {
    bottom: 0px;
}

.custom-bg {
    background-color: #F8F9FA;
}

.newslatter-communty-font {
    font-size: 16px;
    color: gray;
    letter-spacing: 1px;
    font-weight: 500;

}

.newslatter-custom-style {
    font-size: 34px;
    font-weight: 400;
}

.newslatetr-sumbit-btn {
    background-color: #BB4D50;
}

.newsletter-input:active,
.newsletter-input:focus,
.newsletter-input:focus-visible {
    box-shadow: none !important;
    outline: none;
} 
.custom-k{
    height: 400px;
}
.custom-k img{
    height: 100%;
    object-fit: cover;
    object-position: top left;
}


.custom-category-slick-slider{
    overflow: hidden; 
    width: 100%;
}
 
  .custom-category-slick-slider .slick-slide {
    padding: 0 !important;
    height: auto !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
   
  
 
  
  .custom-category-slick-slider .slick-prev:before,
  .custom-category-slick-slider .slick-next:before {
    color: #000;
    font-size: 24px;
    display: none;
  }


.cetegory-conatiner{
    height: 180px;
    display: inline-block;
    align-items: center;
    justify-items: center !important;
    width: 180px;
    border:  1px dotted gray;
    border-radius: 50%; 
}
/* .cetegory-conatiner img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding: 10px !important;
    border-radius: 50%;
     
}

.cetegory-conatiner:hover{
    border: 1px dotted red;
    animation: borderAnimation 4s linear infinite;

} */


/* @keyframes borderAnimation {
    0% {
      border-style: dotted;
      transform: rotate(0deg);
    }
    100% {
      border-style: dotted;
      transform: rotate(360deg);
    }
  } */
 
  
  
  
  
  
  
 

  
@media (min-width: 0px) and (max-width: 524px) {
    .categoryWrap {
        position: absolute;
        height: 0px;
        width: 160px;
        top: 89%;
        left: 0px;
        background-color: #212529;
        transition: .3s;
        overflow: hidden;
        z-index: 87;
        text-align: center;
        color: white;
    }



    .categoryWrap.open {
        height: 250px;
    }

    .text-color-cetegory {
        color: white;
    }
    .cutom-limit-height{
        height: 160px; 
        width: 100%;  
    }
}

@media (min-width: 525px) and (max-width: 768px) {
    .categoryWrap {
        position: absolute;
        height: 0px;
        width: 200px;
        top: 100%;
        left: 0px;
        background-color: #212529;
        transition: .3s;
        overflow: hidden;
        z-index: 87;
        text-align: center;
        color: white;
    }

    .categoryWrap.open {
        height: 250px;
    }

    .text-color-cetegory {
        color: white;
    }
    .cutom-limit-height{
        height: 200px; 
        width: 100%;  
    }
}

@media (min-width: 769px) and (max-width: 990px) {
    .categoryWrap {
        position: absolute;
        height: 0px;
        width: 200px;
        top: 100%;
        left: 0px;
        background-color: #212529;
        transition: .3s;
        overflow: hidden;
        z-index: 87;
        text-align: center;
        color: white;
    }

    .categoryWrap.open {
        height: 250px;
    }

    .text-color-cetegory {
        color: white;
    }
}










 